{% extends 'kingadmin/base.html' %}
{% load staticfiles %}
{% block title %}邮件模板{% endblock %}

{% block css %}
<link href="/static/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="row">
      <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>邮件模板 <small></small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">搜索</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{ self.title }} <small>{{ a_obj.name }}</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form id="demo-form2" class="form-horizontal form-label-left" method="POST">
                        {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">模板功能<span class="required">*</span>
                        </label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                          {{ obj.effect }}
                            <p style="color: red">{{ obj.errors.effect.0 }}</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">模板状态<span class="required">*</span>
                        </label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                          {{ obj.status }}
                            <p style="color: red">{{ obj.errors.status.0 }}</p>
                        </div>

                      </div>

                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-1 col-sm-1 col-xs-12">模板名称</label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                          {{ obj.name }}
                            <p style="color: red">{{ obj.errors.name.0 }}</p>
                        </div>
                      </div>

                      <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">模板样式 <span class="required">*</span>
                            </label>
                            <div class="col-md-10 col-sm-10 col-xs-12">
                              {{ obj.content }}
                                <p style="color: red">{{ obj.errors.content.0 }}</p>
                            </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <input class="btn btn-primary" type="reset">
                          <input id="tijiao" class="btn btn-primary" type="submit" value="提交">
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
                <div id="error" class="col-md-4 col-sm-4 col-xs-4">
                    <span style="font-size: 20px;color: #00a0e9">填写调用规范！</span>
                    <div id="errormsg">
                        <ul style="list-style: decimal-leading-zero;font-size: 16px;">
                            <li>{name} - 代表用户姓名</li>
                            <li>{username} - 代表用户账户</li>
                            <li>{oldpwd} - 代表用户密码</li>
                            <li>{email} - 邮箱地址</li>
                            <li>{phone} - 手机号</li>
                            <li>{company} - 公司名称</li>
                            <li>{department} - 部门名称</li>
                            <li>{position} - 职位名称</li>
                            <li>{status} - 用户状态</li>
                            <li>{creat_at} - 用户注册时间</li>
                            <li>{last_at} - 最后登录时间</li>
                            <li>{url} - 访问链接</li>


                        </ul>
                    </div>
                </div>
            </div>
          </div>
</div>

{% endblock %}

{% block js %}
<script src="/static/plugins/kindeditor/kindeditor-all-min.js"></script>
<script>
        var kind;
        $(function () {
           kindinit0();
           addcss();
        });
        function kindinit0() {
            kind = KindEditor.create('#mycontent', {
                    width: '100%',       // 文本框宽度(可以百分比或像素)
                    height: '450px',     // 文本框高度(只能像素)
                    minWidth: 600,       // 最小宽度（数字）
                    minHeight: 250,      // 最小高度（数字）
                    items:[ 'source', '|', 'undo', 'redo', '|', 'preview', 'print', 'template', 'code',
                        'cut', 'copy', 'paste','plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
        'superscript', 'clearhtml', 'quickformat', 'selectall', '|', 'fullscreen', '/',
        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
        'flash', 'media', 'table', 'hr', 'emoticons', 'baidumap', 'pagebreak',
        'anchor', 'link', 'unlink', '|', 'abo   ut'],
                    uploadJson: '/kingadmin/uplode_pic.html',
                    extraFileUploadParams: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                    resizeType:0,
                    allowPreviewEmoticons: true,
                    autoSetDataMode:true,
                    allowImageUpload: true,
                    allowFileUpload:false

                    });}
        function addcss() {
            $('#id_status').attr('class','form-control')
            $('#id_effect').attr('class','form-control')
        }

        $('#tijiao').click(function () {
            var data = kind.text();
            var ret = $('textarea[name=content]').val();
            if (ret){
                return true
            }else {
                $('textarea[name=content]').val(data.substring(0,50));
                return true
                }
        })

    </script>

<script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="/static/vendors/moment/min/moment.min.js"></script>
<script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>
<script src="/static/vendors/autosize/dist/autosize.min.js"></script>
<script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<script src="/static/vendors/starrr/dist/starrr.js"></script>
<script src="/static/build/js/custom.min.js"></script>
{% endblock %}

{% block footer %}{% endblock %}