{% extends 'kingadmin/base.html' %}
{% block title %}活动管理{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="row">
      <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>活动管理 <small>共计 {{ huodong_list.count }} 条数据</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">搜索</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">

              <div class="clearfix"></div>

              <div class="clearfix"></div>

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>活动类型 <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">

                    <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="dt-buttons btn-group" style="margin-bottom: 10px">
                            <a type="button" class="btn btn-success" href="/kingadmin/activitytype/add/">添加类型</a>
                        </div>
                        <div  class="dataTables_filter">

                        </div>
                        <table id="datatable-buttons" class="table table-striped table-bordered dataTable no-footer dtr-inline text-center" role="grid" aria-describedby="datatable-buttons_info" style="width: 1300px;">
                            <thead>
                                <tr role="row" class="text-center">
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 20px;">选择</th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 20px;">ID</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 150px;">活动类型</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 100px;">菜单别名</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 150px;">所属菜单</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 200px;">活动介绍</th>
                                    <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 100px;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for hd in huodong_list %}
                                      <tr role="row" class="odd">
                                          <td>
                                              <input type="checkbox" class="icheckbox_flat-green" value="{{ hd.id }}">
                                          </td>
                                          <td tabindex="0" class="sorting_1">{{ hd.id }}</td>
                                          <td>{{ hd.name }}</td>
                                          <td>{{ hd.alias }}</td>
                                          <td><a href="/activity/{{ hd.id }}.html">{{ hd.menu }}</a></td>
                                          <td style="tab-size: 12px;">{{ hd.content|truncatewords:"3"|safe }}</td>
                                          <td>
                                              <a type="button" class="btn btn btn-primary" href="/kingadmin/activitytype/edit/{{ hd.id }}">编辑</a>
                                              <button type="button" class="btn btn btn-danger deletedata" data-toggle="modal" data-target="#myModal" data="{{ hd.id }}">删除</button>
                                          </td>
                                        </tr>
                                  {% endfor %}
                      </tbody>
                   </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">删除警告</h4>
      </div>
      <div class="modal-body">
        <p>你确认要删除本条信息吗？后悔还来得及！</p>
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger deletea">确认删除</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



{% endblock %}

{% block js %}
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script>
        $('.deletedata').click(function () {
            var data = $(this).attr('data');
            $('#myModal').attr('data',data)
            var name = $(this).parent().prevAll().eq(3).text();
            $('.modal-body').html("<p>你确认要删除 [ " + name + " ] 信息吗？后悔还来得及！</p>")
        })
    </script>

{% endblock %}