{% extends 'kingadmin/base.html' %}
{% block title %}活动管理{% endblock %}

{% block css %}
<link href="/static/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="row">
      <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>活动管理 <small></small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">搜索</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>添加活动 <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                      <div class="form-group">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">新闻标题<span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <input type="text" name="title" placeholder="活动标题不超过150字" class="form-control col-md-7 col-xs-12">
                        </div>
                         <label class="control-label col-md-1 col-sm-1 col-xs-6">作者<span class="required">*</span>
                        </label>
                        <div class="col-md-2 col-sm-2 col-xs-6">
                          <input name="author" placeholder="默认为admin" class="date-picker form-control col-md-7 col-xs-12"  type="text">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">内容摘要<span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <input type="text" name="summary" placeholder="内容摘要不能超过200字" class="form-control col-md-7 col-xs-12">
                        </div>
                         <label class="control-label col-md-1 col-sm-1 col-xs-6" style="margin-top: 7px">访问量
                            <span class="required"></span>
                        </label>
                        <div class="col-md-2 col-sm-2 col-xs-6" style="margin-top: 7px">
                          <input class="date-picker form-control col-md-7 col-xs-12" name="up" placeholder="默认访问为0"  type="text">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-1 col-sm-1 col-xs-12">展示图</label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" type="file" name="middle-name">
                        </div>
                        <label class="control-label col-md-1 col-sm-1 col-xs-6">状态<span class="required">*</span>
                         </label>
                        <div class="col-md-2 col-sm-2 col-xs-6">

                            <div class="">
                            <label>
                              <input type="checkbox" class="js-switch" checked="True" data-switchery="true" style="display: none;">
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">活动内容 <span class="required">*</span>
                        </label>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                          <textarea class="form-control col-md-7 col-xs-12" placeholder="请填写活动内容"></textarea>
                        </div>
                        <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">创建时间 <span class="required">*</span>
                        </label>
                        <div class="col-md-2 col-sm-2 col-xs-6">
                            <input class="control-label form-control col-md-7 col-xs-12" name="creat_at"  type="date">
                        </div>
                      </div>


                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button">提交</button>
						  <button class="btn btn-primary" type="reset">重置</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>

{% endblock %}

{% block js %}

<!-- bootstrap-progressbar -->
<script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/static/vendors/moment/min/moment.min.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>

<!-- Switchery -->
<script src="/static/vendors/switchery/dist/switchery.min.js"></script>

<!-- Parsley -->
<script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="/static/vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="/static/vendors/starrr/dist/starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="/static/build/js/custom.min.js"></script>


{% endblock %}

{% block footer %}{% endblock %}