<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>麒麟会后台管理-登录</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container" style="margin-top: 100px">

      <form class="form-signin" method="post">
        <div style="text-align: center">
            <img src="/static/img/logo.png" alt="">
            <span style="font-size: 32px;line-height: 30px">管理登录</span>
        </div>
        <label for="inputteEmail" class="sr-only">账户</label>
        <input type="text" class="form-control" placeholder="请输入账户" name="username">
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" class="form-control" placeholder="请输入密码" name="password">
        <label for="inputPassword" class="sr-only">验证码</label>
        <div>
            <div style="width: 150px;display: inline-block">
                <input type="text" class="form-control" name="yzm" placeholder="验证码">
            </div>
            <img src="" width="120" height="45">
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="登录" />
      </form>

    </div>
  </body>
</html>
