{% extends 'kingadmin/base.html' %}
{% load staticfiles %}
{% block title %}轮播设置{% endblock %}

{% block css %}
<link href="/static/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <style>
        .form-group p{color: red}
    </style>
{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="row">
      <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>轮播设置 <small></small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">搜索</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{ title }}<small>{{ self.carousel_obj }}</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li></li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    <form id="demo-form2" enctype="multipart/form-data" class="form-horizontal form-label-left" method="POST">
                        {% csrf_token %}
                          <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">标题<span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                              {{ obj.title }}
                                <p>{{ obj.errors.title.0 }}</p>
                            </div>
                             <label class="control-label col-md-1 col-sm-1 col-xs-6">权重<span class="required">*</span>
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-6">
                              {{ obj.weight }}
                                <p>{{ obj.errors.weight.0 }}</p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">图片<span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                              {{ obj.img }}
                                <p>{{ obj.errors.img.0 }}</p>
                            </div>
                             <label class="control-label col-md-1 col-sm-1 col-xs-6" style="margin-top: 7px">是否显示
                                <span class="required"></span>
                            </label>
                            <div class="col-md-2 col-sm-2 col-xs-6 myselect" style="margin-top: 7px" olddata="{{ carousel_obj.status }}">
                              {{ obj.status }}
                                <p>{{ obj.errors.status.0 }}</p>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="middle-name" class="control-label col-md-1 col-sm-1 col-xs-12">栏目选择</label>
                            <div class="col-md-8 col-sm-8 col-xs-12 myselect" olddata="{{ carousel_obj.orgid.id }}">
                              {{ obj.orgid_id }}
                                <p>{{ obj.errors.orgid_id.0 }}</p>
                            </div>
                          </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-1 col-sm-1 col-xs-12">链接地址</label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                              {{ obj.url }}
                                <p>{{ obj.errors.url.0 }}</p>
                            </div>
                          </div>
                        <div class="form-group">
                                <label class="control-label col-md-1 col-sm-1 col-xs-12" for="last-name">新闻内容 <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                  {{ obj.content }}{{ obj.errors.content.0 }}
                                </div>
                          </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                              <input class="btn btn-primary" type="reset">
                              <input id="tijiao" class="btn btn-primary" type="submit" value="提交">
                            </div>
                          </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>

{% endblock %}

{% block js %}
<script src="/static/plugins/kindeditor/kindeditor-all-min.js"></script>
<script>
        $(function () {
           makeselect();
           addcss();
        });
        function makeselect() {
            $('.myselect').each(function () {
                var olddata = $(this).attr('olddata');
                $(this).find('option').each(function () {
                    var v =  $(this).attr('value');

                    if (v === olddata){
                        $(this).attr('selected',true)
                    }
                })

            })
        }
        function addcss() {
            $('#id_status').attr('class','form-control')

        }

    </script>

<!-- bootstrap-progressbar -->
<script src="/static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/static/vendors/moment/min/moment.min.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="/static/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>

<!-- Switchery -->
{#<script src="/static/vendors/switchery/dist/switchery.min.js"></script>#}

<!-- Parsley -->
<script src="/static/vendors/parsleyjs/dist/parsley.min.js"></script>
<!-- Autosize -->
<script src="/static/vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="/static/vendors/starrr/dist/starrr.js"></script>
<!-- Custom Theme Scripts -->
<script src="/static/build/js/custom.min.js"></script>
{% endblock %}

{% block footer %}{% endblock %}